.color-scheme-1{
    .icon-remove{
        color: $primary-color;
        font-size: 32px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.4);
            color: $secundary-text-color;
            
          }
    }


    .cart__contents{
        background-color: rgb(249, 249, 249);
        border-radius: 15px;
        .cart__items{
            border-bottom: unset;
            .cart-items{
                thead{
                    tr{
                        th{
                            padding-top: 20px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
                tbody{
                    tr{
                        .cart-item__details{
                            .cart-item__name{
                                transition: color 0.3s ease;
                                &:hover{
                                    color: $secundary-text-color;
                                }
                            }
                        }
                        td{
                            padding-left: 10px;
                            padding-right: 10px;
                            
                            
                        }
                    }
                }
            }

        }
        
    }
}

.card-wrapper{
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
      }
    .badge--bottom-left{
        background-color: red;
        color: yellow;
        font-weight: 700;
    }
    .card__information{
        .price--on-sale{
            .price-item--sale{
                

            }
            .price-item--regular{
                color: red;
                text-transform: uppercase !important;
            }
        }

    }
}