.color-scheme-1{
    .icon-remove{
        color: $primary-color;
        font-size: 32px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.4);
            color: $secundary-text-color;
            
          }
    }
}