.content-for-layout{
    .shopify-section{
        .contact{
            form{
                .contact__button{
                    .button{
                        background-color: $primary-color;
                        font-family: 'Open Sans';
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}