.footer{
    font-family: 'Open Sans';
    background-color: $primary-color;
   h2{
    color:  $secondary-text-color;
   }
   a{
    color: $secondary-text-color !important;
   }
   .footer__content-top{
    max-width: unset;
   }
   



   
 
}

