.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $popup-bg-color;
    padding: 20px;
    z-index: 9999;
    button{
        border: none !important;
    }


    .popup-main-heading,
    .popup-first-text,
    .popup-main-text,
    .discount-code-display{
        color: #FFFFFF;
        font-family: 'Open Sans';
    }

    .popup-main-heading{
        
        font-weight: 700;
        font-size: 57.07px;
        line-height: 50px;
    }

    .popup-first-text{
        font-weight: 300;
        font-size: 28.59px;
        line-height: 32px;
    }

    .popup-main-text{
        font-weight: 400;
        font-size: 15.13px;
        line-height: 20px;
    }

    .show-discount-code{
        width: 209.78px;
        height: 42px;
        border-radius: 5px;
        background-color: #2E3035;
        color: #fff;
        cursor: pointer;
    }

    .show-login{
        width: 301.55px;
        height: 42px;
        border-radius: 5px;
        background-color: #2E3035;
        color: #fff;
        cursor: pointer;
    }






    .close-button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
    }
}



/* For mobile devices */
@media only screen and (max-width: 767px) {
    .popup-content{
        .show-discount-code{
            margin-bottom: 5px
        }
    }
    
  }
  
  /* For tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .popup-content{
        .show-discount-code{
            margin-bottom: 5px
        }
    }
  }