@import "variables.scss";
@import "popup.scss";
@import "announcement.scss";
@import "header.scss";
@import "home.scss";
@import "single-product.scss";
@import "wishlist.scss";
@import "contact.scss";
@import "footer.scss";
@import "cart.scss";
@import "erbjudande.scss";
@import "cartlist.scss";

body{
    margin:0;
}

.gradient{
    font-family: 'Open Sans';
    h1,h2,h3,h4,h5,h6{
        font-family: fantasy;
    }
}
