.utility-bar {
  background-color: #C8B790;
}
.utility-bar span {
  color: #182A49;
}
.header {
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: unset;
  padding-bottom: unset;
}
.header .header__icons .header__search .header__icon span {
  color: #C8B790;
}
.header .header__icons .header__icon--cart {
  color: #C8B790;
}
.header-wrapper {
  background-color: #182A49;
}
.header-wrapper .list-menu {
  padding-left: 50px;
}
.header-wrapper .list-menu li a span {
  color: #C8B790;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 400;
}
.footer {
  background-color: #182A49;
}
.footer h2 {
  color: #C8B790;
}
.footer a {
  color: #C8B790 !important;
}
.footer .footer__content-top {
  max-width: unset;
}
.content-for-layout .slideshow__text {
  background-color: rgba(24, 42, 73, 0.631372549) !important;
}
.content-for-layout .slideshow__text .banner__heading {
  color: #C8B790;
}
.content-for-layout .slideshow__text .banner__text {
  color: #C8B790;
}
/* CSS */
.banner__buttons {
  --c: #C8B790;
  /* text color */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0) 67%) var(--_p, 100%)/300% no-repeat, #182A49;
  /* background color */
  color: rgba(0, 0, 0, 0);
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  outline-offset: 0.1em;
  transition: 0.5s;
}
.banner__buttons:hover,
.banner__buttons:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.banner__buttons:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9000000000q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}
.banner__buttons {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
body {
  margin: 0;
}