.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4973D;
  padding: 20px;
  z-index: 9999;
}
.popup-content button {
  border: none !important;
}
.popup-content .popup-main-heading,
.popup-content .popup-first-text,
.popup-content .popup-main-text,
.popup-content .discount-code-display {
  color: #FFFFFF;
  font-family: "Open Sans";
}
.popup-content .popup-main-heading {
  font-weight: 700;
  font-size: 57.07px;
  line-height: 50px;
}
.popup-content .popup-first-text {
  font-weight: 300;
  font-size: 28.59px;
  line-height: 32px;
}
.popup-content .popup-main-text {
  font-weight: 400;
  font-size: 15.13px;
  line-height: 20px;
}
.popup-content .show-discount-code {
  width: 209.78px;
  height: 42px;
  border-radius: 5px;
  background-color: #2E3035;
  color: #fff;
  cursor: pointer;
}
.popup-content .show-login {
  width: 301.55px;
  height: 42px;
  border-radius: 5px;
  background-color: #2E3035;
  color: #fff;
  cursor: pointer;
}
.popup-content .close-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
  .popup-content .show-discount-code {
    margin-bottom: 5px;
  }
}
/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .popup-content .show-discount-code {
    margin-bottom: 5px;
  }
}
.utility-bar {
  background-color: #C8B790;
}
.utility-bar span {
  color: #182A49;
}
.header {
  max-width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding-top: unset;
  padding-bottom: unset;
}
.header .header__icons .header__search .header__icon span {
  color: #C8B790;
}
.header .header__icons .header__icon--cart {
  color: #C8B790;
}
.header-wrapper {
  background-color: #182A49;
}
.header-wrapper nav {
  display: flex;
  justify-content: center;
}
.header-wrapper nav .list-menu {
  padding-left: 50px;
}
.header-wrapper nav .list-menu li a {
  text-transform: uppercase;
}
.header-wrapper nav .list-menu li a span {
  color: #C8B790;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 400;
}
.search-modal__content {
  background-color: #182A49;
}
.search-modal__content .search-modal__form .search {
  border-radius: 10px !important;
}
.search-modal__content .search-modal__form .search .field {
  border-radius: 10px !important;
}
.search-modal__content .icon {
  color: #fff;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
  .header-wrapper .header__inline-menu {
    display: none;
  }
  .header .header__icon--cart {
    color: #C8B790;
  }
  .header .header__icon .icon path {
    color: #C8B790;
  }
}
/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header__inline-menu {
    display: none;
  }
  .header .header__icon--cart {
    color: #C8B790;
  }
  .header .header__icon .icon path {
    color: #C8B790;
  }
}
.content-for-layout .slideshow__text {
  background-color: rgba(24, 42, 73, 0.631372549) !important;
}
.content-for-layout .slideshow__text .banner__heading {
  color: #C8B790;
}
.content-for-layout .slideshow__text .banner__text {
  color: #C8B790;
}
.content-for-layout .collection-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-for-layout .collection-hero__text-wrapper .collection-hero__title {
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.content-for-layout .collection-hero__text-wrapper .collection-hero__title .collection-hero__description {
  max-width: 100%;
}
@media screen and (min-width: 750px) {
  .collection-hero__description {
    max-width: unset !important;
  }
}
.banner__buttons {
  --c: #C8B790;
  /* text color */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0) 67%) var(--_p, 100%)/300% no-repeat, #182A49;
  /* background color */
  color: rgba(0, 0, 0, 0);
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  outline-offset: 0.1em;
  transition: 0.5s;
}
.banner__buttons:hover,
.banner__buttons:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.banner__buttons:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9000000000q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}
.banner__buttons {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
.button--secondary {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.button--secondary:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button--secondary:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button--secondary:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.banner__buttons {
  --c: #C8B790;
  /* text color */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0) 67%) var(--_p, 100%)/300% no-repeat, #182A49;
  /* background color */
  color: rgba(0, 0, 0, 0);
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  outline-offset: 0.1em;
  transition: 0.5s;
}
.banner__buttons:hover,
.banner__buttons:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.banner__buttons:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9000000000q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}
.banner__buttons {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
.collection__view-all .button {
  --c: #C8B790;
  /* text color */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3333333333), rgba(0, 0, 0, 0) 67%) var(--_p, 100%)/300% no-repeat, #182A49;
  /* background color */
  color: rgba(0, 0, 0, 0);
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1) * -0.08em) 0.01em 2px rgba(0, 0, 0, 0.2666666667);
  outline-offset: 0.1em;
  transition: 0.5s;
}
.collection__view-all .button:hover,
.collection__view-all .button:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.collection__view-all .button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9000000000q rgba(0, 0, 0, 0.3333333333);
  transition: 0s;
}
.collection__view-all .button {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}
.mobile-facets__inner .mobile-facets__header {
  background-color: #C8B790;
}
.mobile-facets__inner .mobile-facets__header .mobile-facets__header-inner h2 {
  font-size: 22px;
  font-weight: 700;
  color: #182A49;
}
.mobile-facets__inner .mobile-facets__header .mobile-facets__header-inner p {
  font-size: 18px;
  font-weight: 700;
  color: #182A49;
}
.mobile-facets__inner .mobile-facets__main {
  background-color: #182A49;
}
.mobile-facets__inner .mobile-facets__main .mobile-facets .mobile-facets__summary {
  color: #182A49;
}
.mobile-facets__inner .focus-inset {
  font-size: 22px;
  color: rgba(200, 183, 144, 0.631372549);
}
.mobile-facets__inner .mobile-facets__footer {
  background-color: #182A49;
}
.mobile-facets__inner .mobile-facets__submenu {
  background-color: #182A49;
}
.facets-layout-list {
  color: #C8B790;
}
.mobile-facets__info {
  color: #C8B790;
}
.facets__price {
  color: #C8B790;
}
.card__heading {
  font-size: 20px;
  font-weight: 700;
  font-family: fantasy;
  color: #182A49;
}
.card__heading .icon-wrap {
  color: #C8B790;
}
.product .product__info-wrapper .product__info-container .product__title .discount-percentage {
  font-family: "Open Sans";
  font-weight: 700;
  color: #F61031;
  font-size: 16px;
  line-height: 24px;
}
.product .product__info-wrapper .product__info-container .price .price__container .price__sale .price-item--sale {
  color: #F61031;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}
.product .product__info-wrapper .product__info-container .price .price__container .price__sale span .price-item {
  color: #111827;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.product .product__info-wrapper .product__info-container .product-form__input label {
  border-radius: unset;
}
.st-product-card .st-atc-button {
  background-color: black !important;
}
.st-wishlist-details-button {
  bottom: 75px !important;
}
.content-for-layout .shopify-section .contact form .contact__button .button {
  background-color: #182A49;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}
.footer {
  background-color: #182A49;
}
.footer h2 {
  color: #C8B790;
}
.footer a {
  color: #C8B790 !important;
}
.footer .footer__content-top {
  max-width: unset;
}
body {
  margin: 0;
}